body {    
  background: url('images/Flags3.jpg') no-repeat  fixed;     
  background-size: cover;
}

main {
  margin: 30px;
}

.slices {
  margin-top: 60px;
  margin-bottom: 10px;
  text-align: center;
  }

